body{
    background-color: blue;
    color: white;
}

h1{
    color : white;
    font-size: 3.5rem;
}

h2{
    color : white;
    font-size: 2rem;
}

.montitre{
    margin: 50px auto 20px auto;

}

.navbar{
    width: fit-content;
   
}

.contenu{
    padding: 20px;
    margin-top: 20px;
   
}

.gras{
    font-weight: 700;
}


.img{
    width: 200px;
    height: 200px;
}

.form-text{
    color: white;
}

.error {
    color: #e74c3c;
  }

  .imgValide{
    width: 32px;
  }